html, body {
  margin: 0;
  padding: 0;
}

div#info {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: white;
  padding: 10px;
  font-size: 11px;
  font-family: Helvetica Neue, Arial, sans;
}
